@tailwind base;
@tailwind components;
@tailwind utilities;
 body, html {
    height: auto;
    width: 100%;
    min-height: 100vh;
 }
 #root {
    height: auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }